<h2>Edit your property</h2>
<form #villaFormInput="ngForm" (ngSubmit)="submitHandler(villaFormInput.value)">
  <div>
    <label for="name">Property name</label>
    <input type="text" #nameInput="ngModel" [ngModel]="villaInfo?.name" name="name" id="name" />
  </div>
  <div>
    <label for="region">Region</label>
    <input type="text" #regionInput="ngModel" [ngModel]="villaInfo?.region" name="region" id="region" />
  </div>
  <div>
    <label for="date">Chek-in</label>
    <input type="date" #dateInput="ngModel" [ngModel]="villaInfo?.date" name="date" id="date" />
  </div>
  <div>
    <label for="beds">Beds</label>
    <input type="number" #bedsInput="ngModel" [ngModel]="villaInfo?.beds" name="beds" id="beds" />
  </div>
  <div>
    <label for="nights">Nights</label>
    <input type="number" #nightsInput="ngModel" [ngModel]="villaInfo?.nights" name="nights" id="nights" />
  </div>
  <div>
    <label for="price">Price</label>
    <input type="number" #priceInput="ngModel" [ngModel]="villaInfo?.price" name="price" id="price" />
  </div>
  <div>
    <label for="priceDescription">Price description</label>
    <input
      type="textarea"
      #priceDescriptionInput="ngModel"
      [ngModel]="villaInfo?.priceDescription"
      name="priceDescription"
      id="priceDescription"
    />
  </div>
  <div>
    <label for="description">Property description</label>
    <input
      type="textarea"
      #descriptionInput="ngModel"
      [ngModel]="villaInfo?.description"
      name="description"
      id="description"
    />
  </div>
  <div>
    <label for="imageurl">Image 1</label>
    <input type="text" #imageurlInput="ngModel" [ngModel]="villaInfo?.imageUrl" name="imageUrl" id="imageurl" />
  </div>
  <div>
    <label for="imageurl2">Image 2</label>
    <input type="text" #imageurl2Input="ngModel" [ngModel]="villaInfo?.imageUrl2" name="imageUrl2" id="imageurl2" />
  </div>
  <div>
    <label for="imageurl3">Image 3</label>
    <input type="text" #imageurl3Input="ngModel" [ngModel]="villaInfo?.imageUrl3" name="imageUrl3" id="imageurl3" />
  </div>
  <div>
    <label for="lat">Latitude</label>
    <input type="text" #latInput="ngModel" [ngModel]="villaInfo?.coordinates?.lat" name="lat" id="lat" />
  </div>
  <div>
    <label for="lng">Lonngitude</label>
    <input type="text" #lngInput="ngModel" [ngModel]="villaInfo?.coordinates?.lng" name="lng" id="lng" />
  </div>
  <button [disabled]="!isOwner">Edit property</button>
</form>
<div>
  <button *ngIf="isOwner" (click)="deleteHandler()">Delete property</button>
</div>
<div>
  <button *ngIf="toLike" (click)="likeHandler()">Like property</button>
</div>
<div>
  <button *ngIf="toDislike" (click)="disLikeHandler()">Dislike property</button>
</div>
<!-- <app-likes [likes]="villaInfo.likes"></app-likes> -->
{{ likesNumber }}
{{ villaFormInput.value | json }}
