div.container {
  width: 80%;
  margin: 10px auto 0 25%;
}
/* form > div {
  width: 100%;
  margin: 0 auto;
} */
mat-form-field {
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
}
button {
  text-align: center;
  font-size: 20px;
  width: 200px;
  margin-bottom: 20px;
}
div.error {
  color: red;
  font-size: 18px;
}
div.buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
button.modal {
  background: red;
}
div.map-wrapper {
  height: 400px;
  width: 800px;
  margin-bottom: 10px;
}
